@charset "UTF-8";
/* @import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap"); */

*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

.mainForm {
	/* font-family: "Sansita Swashed", cursive; */
	font-family: sans-serif;
	 /*  border: 2px solid black; */  
	 margin-top: 30px;
}

.center {
	padding: 50px 50px;
	background-color: #262626;
	border-radius: 10px;
	width: 550px;
	/* border: 2px solid black; */
}

.center h1 {
	font-size: 2em;
	border-left: 5px solid dodgerblue;
	padding: 10px;
	color: #ffc107;
	letter-spacing: 2px;
	margin-bottom: 60px;
	font-weight: bold;
	padding-left: 10px;
}

.center .inputbox {
	position: relative;
	width: 450px; 
	height: 50px;
	margin-bottom: 50px;
    /* border: 2px solid black; */
}

.succTxt{
	text-align: center;
	margin-bottom: 40px;
	color: DodgerBlue;
	font-size: 1.3rem;
}

.errorTxt{
	text-align: center;
	margin-bottom: 40px;
	color: red;
	font-size: 1.3rem;
}

.center .inputbox input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border: none;
	outline: none;
	background-color: #3c3c3c;
	padding: 10px;
	border-radius: 10px;
	font-size: 1.2em;
	color: white;
}

.center .inputbox:last-child {
	margin-bottom: 0;
    /* border: 2px solid rgb(163, 41, 41); */
}

.inputLable {
	position: absolute;
	top: -24px;
	left: 0px;
	font-size: 1.1em;
	font-family: sans-serif;
	color: white;
} 

.center .inputbox .subButton {
	width: 35%;
	background: dodgerblue;
	color: #fff;
	border: #fff;
	cursor: pointer;
    font-size: 1.3rem;
    padding: 10px 15px;
    border-radius: 5px;
}

.subButton:hover  {
	background: linear-gradient(45deg, greenyellow, dodgerblue);
}