@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.succTxt{
	text-align: center;
	margin-bottom: 40px;
	color: DodgerBlue;
	font-size: 1.3rem;
}

.errorTxt{
	text-align: center;
	margin-bottom: 40px;
	color: red;
	font-size: 1.3rem;
}